<div class="home-banner-ct banners radius_3 d-none d-md-block">
  <div class="containers">
    <div class="row">
      <div class="banner1 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="bn-1 banner-image">
          {% if section.settings.link1 != blank %}
          <a href="{{ section.settings.link1 }}" title="{{ section.settings.link1.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image1 != blank %}
            <img class="img-responsive lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" alt="{{ section.settings.image1.alt | default: shop.name }}" data-src="{{ section.settings.image1 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/327x250" />
            {% endif %}
            {% if section.settings.link1 != blank %}
          </a>
          {% endif %}
        </div>
        <div class="bn-2 banner-image">
          {% if section.settings.link2 != blank %}
          <a href="{{ section.settings.link2 }}" title="{{ section.settings.link2.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image2 != blank %}
            <img class="img-responsive lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" alt="{{ section.settings.image2.alt | default: shop.name }}" data-src="{{ section.settings.image2 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/327x250" />
            {% endif %}
            {% if section.settings.link2 != blank %}
          </a>
          {% endif %}
        </div>
      </div>
      <div class="banner2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="banner-home banner-image">
          {% if section.settings.link3 != blank %}
          <a href="{{ section.settings.link3 }}" title="{{ section.settings.link3.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image3 != blank %}
            <img class="img-responsive lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" alt="{{ section.settings.image3.alt | default: shop.name }}" data-src="{{ section.settings.image3 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/656x530" />
            {% endif %}
          </a>
        </div>
      </div>

      <div class="banner3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="bn-1 banner-image">
          <a href="{% if section.settings.link4 != blank %}{{ section.settings.link4 }}{% else %}#{% endif %}" title="{{ section.settings.link4.alt | default: shop.name }}">
            {% if section.settings.image4 != blank %}
            <img class="img-responsive lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" alt="{{ section.settings.image4.alt | default: shop.name }}" data-src="{{ section.settings.image4 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/327x250" />
            {% endif %}
          </a>
        </div>

        <div class="bn-2 banner-image">
          <a href="{% if section.settings.link5 != blank %}{{ section.settings.link5 }}{% else %}#{% endif %}" title="{{ section.settings.link5.alt | default: shop.name }}">
            {% if section.settings.image5 != blank %}
            <img class="img-responsive lazyload" data-sizes="auto" src="{{ "icon-loadings.svg" | asset_url }}" alt="{{ section.settings.image5.alt | default: shop.name }}" data-src="{{ section.settings.image5 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/327x250" />
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Banner 3",
  "class": "home-section",
  "settings": [
    {
      "type": "header",
    "content": "Setting Banner "
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Banner image1"
    },
    {
      "type": "url",
      "id": "link1",
      "label": "Link1",
      "info": "Image link1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Banner image2"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Link2",
      "info": "Image link2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Banner image3"
    },
    {
      "type": "url",
      "id": "link3",
      "label": "Link3",
      "info": "Image link3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Banner image4"
    },
    {
      "type": "url",
      "id": "link4",
      "label": "Link4",
      "info": "Image link4"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Banner image5"
    },
    {
      "type": "url",
      "id": "link5",
      "label": "Link5",
      "info": "Image link5"
    }
  ],
	"presets": [
        {
            "name": "Home Banner 3",
            "category": "Image"
        }
    ]
}
{% endschema %}