{% assign list_collection 	= section.settings.list_collection %}
{% assign nav				= section.settings.owl_navigation  %}
{% assign margin			= section.settings.owl_margin  %}
{% assign autoplay			= section.settings.owl_autoplay  %}
{% assign autospeed			= section.settings.owl_autoplay_speed  %}
{% assign speed				= section.settings.owl_speed  %}
{% assign column1			= section.settings.column1  %}
{% assign column2 			= section.settings.column2  %}
{% assign column3 			= section.settings.column3  %}
{% assign column4 			= section.settings.column4  %}
{% assign column5 			= section.settings.column5  %}
{% assign row 				= section.settings.row      %}
{% assign limit 			= section.settings.limit    %}
{% assign show_container	= section.settings.show_container    %}
{% assign image_size		= section.settings.image_size    %}
{% assign menuhandle 		= section.settings.nav_handle %}
{% assign menu_linklist 	= section.settings.menu_linklist %}
{% assign show_banner 		= section.settings.show_banner %}
{% assign image_size2 		= section.settings.image_size2 %}

{% if section.settings.show_section %}
<div class="widget-product-carousel clearfix owl-style1">
  <div class="{% if show_container %}container_full{% else %}container{% endif %}">
    {% if section.settings.title1 != blank %}
    <div class="widget-head">
      <div class="home-title"><span>{{ section.settings.title1 }}</span></div>
      <div class="tabs-menu item-sub-cat">
        <span class="tabs-menu_btn d-lg-none"><i class="fa fa-bars"></i></span>
        <ul class="item-sub-cat tabs-menu_title tabs-title">
          {% for link in linklists[menu_linklist].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="d-none d-xl-block widget-product__image{% if section.settings.position == 'position-1' %} left{% endif %}{% if section.settings.position == 'position-2' %} right{% endif %}">
      {% if section.settings.link != blank %}
      <a href="{{ section.settings.link }}" title="{{ section.settings.link.alt | default: shop.name }}">
        {% endif %}
        {% if section.settings.image != blank %}
        <img class="img-responsive lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ section.settings.image | img_url: image_size2 }}" alt="{{ section.settings.image.alt | default: shop.name }}"/>
        {% else %}
        <img class="img-responsive lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//placehold.it/250x340" alt="{{ shop.name }}" />
        {% endif %}
        {% if section.settings.link != blank %}
      </a>
      {% endif %}
    </div>
    <div class="widget-product__item{% if show_banner %} show__banner{% endif %}">
      <div class="products-listing grid">
        <div class="product-layout block-content">
          <div class="ss-carousel ss-owl">
            <div class="owl-carousel" 
                 {% if settings.enable_rtl %}data-rtl="true"{% endif %}
                 data-nav		="{{ nav }}"
                 data-margin	="{{ margin }}"
                 data-autoplay	="{{ autoplay }}" 
                 data-autospeed	="{{ autospeed }}" 
                 data-speed		="{{ speed }}"
                 data-column1	="{{ column1 }}" 
                 data-column2	="{{ column2 }}" 
                 data-column3	="{{ column3 }}" 
                 data-column4	="{{ column4 }}" 
                 data-column5	="{{ column5 }}">
              {% for product in collections[list_collection].products limit:limit %}

              {% assign col = forloop.index | modulo:section.settings.row  %}
              {% assign col3 = forloop.index0 | modulo:section.settings.row   %}
              {% assign col2 = forloop.index %} 

              {% if col3 == 0 or col2 == 1  %}
              <div class="item ">
                {% endif %}
                {% include 'product-card-grid-index' %}
                {% if col == 0 or forloop.last  %}
              </div>
              {% endif %}
              {% else %}
              {% for product in (1..limit) %}
              {% assign col = forloop.index | modulo:section.settings.row  %}
              {% assign col3 = forloop.index0 | modulo:section.settings.row   %}
              {% assign col2 = forloop.index %} 
              {% if col3 == 0 or col2 == 1  %}
              <div class="item">
                {% endif %}
                <div class="product-item clearfix no-product">
                  <a href="#" class="product-img">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </a>
                  <div class="product-info">
                    <div class="price">
                      <span class="price-new"> $100.00 </span>
                    </div>
                    <div class="product-name">Product's Demo {{ forloop.index }}</div>

                  </div>
                </div>
                {% if col == 0 or forloop.last  %}
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}
{
"name": "Home Products Sliders",
"class": "home-section",
"settings":[
{
"type": "header",
"content": "General Settings"
},
{
"type": "checkbox",
"id": "show_section",
"label": "Enable Section?",
"default": true
},
{
"type": "checkbox",
"id": "show_container",
"label": "Enable Full Width Container",
"default": true
},
{
"type": "header",
"content": "Banner Widget"
},
{
"type": "checkbox",
"id": "show_banner",
"label": "Enable Banner?",
"default": true
},
{
"type": "select",
"id": "position",
"label": "Select Position",
"default": "position-1",
"options":[
{
"value": "position-1",
"label": "Left"
},
{
"value": "position-2",
"label": "Right"
}
]
},       
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "image_size2",
"label": "Image size",
"default": "250x",
"info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
},
{
"type": "url",
"id": "link",
"label": "Link",
"info": "Image link"
},
{
"type": "header",
"content": "Widget Head Settings"
},
{
"type": "text",
"id": "title1",
"label": "Title"
},
{
"type": "link_list",
"id": "menu_linklist",
"label": "Menu Categories"
},
{
"type": "header",
"content": "Widget Content Settings"
},
{
"type": "collection",
"id": "list_collection",
"label": "Select Collection"
},
{
"type": "text",
"id": "image_size",
"label": "Image size",
"default": "270x270",
"info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
}, 
{
"type": "header",
"content": "Owl Settings"
},
{
"type": "select",
"id": "column1",
"label": "#Column 1",
"default": "4",
"info": "For Large desktops have screen > 1200px",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "column2",
"label": "#Column 2",
"default": "3",
"info": "For Tablets have screen 992px to 1199px.",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "column3",
"label": "#Column 3",
"info": "For Tablets have screen 768px to 991px.",
"default": "2",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "column4",
"label": "#Column 4",
"default": "2",
"info": "For Smartphones landscape have screen 568px to 767px",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "column5",
"label": "#Column 5",
"default": "1",
"info": "For Smartphones have screen 320px to 567px.",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
}
]
},
{
"type": "select",
"id": "row",
"label": "Sellect Row",
"default": "1",
"options":[
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
}
]
},
{
"type": "text",
"id": "limit",
"label": "Limit Item",
"default": "8"
},
{
"type": "checkbox",
"id": "owl_navigation",
"label": "Show navigation",
"default": true
},
{
"type": "text",
"id": "owl_margin",
"label": "Margin Item",
"default": "30"
},
{
"type": "checkbox",
"id": "owl_autoplay",
"label": "Owl Auto Play",
"default": false
},
{
"type": "text",
"id": "owl_autoplay_speed",
"label": "Owl Auto Play speed",
"info": "Default: 10000(ms)",
"default": "10000"
},
{
"type": "text",
"id": "owl_speed",
"label": "Owl Speed",
"info": "Slide/Fade animation speed",
"default": "300"
}
],
"presets": [
{
"name": "Home Products Sliders",
"category": "Product",
"settings": {
"list_collection": "frontpage"
}
}
]
}
{% endschema %}
